<div class="container">
  <header><img src="https://t3.ftcdn.net/jpg/02/81/76/28/360_F_281762865_WBrjgzd0Z6omwPuN6oNp030tV4ijjsT6.jpg" alt="grocery isle with food" width="813" height="550"></header>
</div>

<div class="container">

  <h1>WELCOME TO ACB Store</h1>
  <h3>We deliver all the essential and non-essential goods to your home with FREE SHIPPING. You can trust that we take the upmost care in delivering your items with all the safety precautions as advised by the CDC. Happy shopping!</h3><br>

  <h4>Please sign up or log in to start an order!</h4><br>

</div>

<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>




<a href="/users/signup" class="button">Sign up</a>
<a href="/users/login" class="button">Login</a>

</body>
</html>