<h1>Order Form</h1>

<form action='/orders' method="POST">
    Address:<input type=text name="address">
    Item:<input type=text name="item">
    
    Item price:<input type=number name="item_price">
    Total:<input type=number name="total">

    <input type=submit>
   
    
</form>